.card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 16px 16px 16px;
    width: 368px;
    background: #79A5B2;
    box-shadow: 0px 10px 16px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}

.double-card-frame {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 10px 0px 10px;
    width: 100%;
    background: #79A5B2;
    box-shadow: 0px 10px 16px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}

.double-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background: #79A5B2;
}

.card-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 16px 0px 16px 0px
}

.card-header-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 16px;
    font-size: 20px;
    margin: 0px;
    font-weight: 500;
}

