<div class="footer-wrapper">
  <div class="footer-container">
    <div>
      <img src="../../../assets/logo 2.png" alt="footer_logo" />
    </div>
    <div class="footer-link-wrapper">
      <p class="footer-link" routerLink="/galery">Galéria</p>
      <p class="footer-link" routerLink="/rules">Házirend</p>
      <p class="footer-link" routerLink="/contact-us">Kapcsolat</p>
      <p class="footer-link" routerLink="/terms-and-conditions">Szerződési feltételek és adatkezelés</p>
      <div>
        <a href="https://www.facebook.com/muegyetmi.roplabda" target="_blank"
          ><img class="footer-social-icon" src="../../../assets/facebook.png" alt="facebok_logo"
        /></a>

        <a href="https://www.facebook.com/muegyetmi.roplabda" target="_blank">
          <img class="footer-social-icon" src="../../../assets/instagram.png" alt="instagram_logo"
        /></a>
      </div>
    </div>
  </div>
</div>
