<div class="table-container">
  <div class="table-wrapper">
    <mat-form-field>
      <mat-label>Szűrés</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Pl. Csodacsapat" #input />
    </mat-form-field>
    <div class="button-container">
      <button mat-button class="create-button" (click)="createTeam()">Létrehoz</button>
    </div>
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Csapatnév</th>
        <td class="table-column" mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>
      <ng-container matColumnDef="coach">
        <th mat-header-cell *matHeaderCellDef>Edző neve</th>
        <td class="table-column" mat-cell *matCellDef="let element">{{ element.coach.name }}</td>
      </ng-container>
      <ng-container matColumnDef="players">
        <th class="center" mat-header-cell *matHeaderCellDef>Játékosok száma</th>
        <td class="table-column center" mat-cell *matCellDef="let element">{{ element.members.length }}</td>
      </ng-container>
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef></th>
        <td class="table-column end" mat-cell *matCellDef="let element">
          <div>
            <button mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="editTeam(element)">
                <span>Szerkesztés</span>
              </button>
              <button mat-menu-item (click)="deleteTeam(element)">
                <span>Törlés</span>
              </button>
            </mat-menu>
          </div>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell">Nincs "{{ input.value }}" nevű csapat</td>
      </tr>
    </table>
  </div>
  <mat-paginator
    [pageIndex]="pageIndex"
    [pageSize]="10"
    [length]="teams?.total"
    (page)="getPage($event)"
    aria-label="Select"
  ></mat-paginator>
</div>
