<div class="page-container">
  <div class="page-title-container">
    <p class="page-title">Keress minket!</p>
  </div>
  <div class="card-container">
    <app-card avatar="../../../assets/envelope.svg" title="E-mailen">
      <app-card-content infoTitle="Példa Pál" infoText1="Titulus" infoText2="pelda.pal@email.com"></app-card-content>
      <app-card-content infoTitle="Példa Pál" infoText1="Titulus" infoText2="pelda.pal@email.com"></app-card-content>
      <app-card-content infoTitle="Példa Pál" infoText1="Titulus" infoText2="pelda.pal@email.com"></app-card-content>
    </app-card>
    <app-card avatar="../../../assets/phone.svg" title="Telefonon">
      <app-card-content infoTitle="Általános" infoText1="Példa Pál" infoText2="+36-30/633-3821"></app-card-content>
      <app-card-content infoTitle="Edzés" infoText1="Példa Pál" infoText2="+36-30/633-3821"></app-card-content>
      <app-card-content infoTitle="Torna" infoText1="Példa Pál" infoText2="+36-30/633-3821"></app-card-content>
    </app-card>
  </div>
  <div class="double-card-container">
    <app-card [single]="false" avatar="../../../assets/location.svg" title="Személyesen">
      <app-card-content
        [single]="false"
        image="../../../assets/map.png"
        infoTitle="Hely név"
        infoText1="Hétfő"
        infoText2="20:00-21:30"
      ></app-card-content>
      <app-card-content
        [single]="false"
        image="../../../assets/map.png"
        infoTitle="Hely név"
        infoText1="Hétfő"
        infoText2="20:00-21:30"
      ></app-card-content>
    </app-card>
  </div>
</div>
