<div class="page-container">
  <div class="header">
    <div class="tabs">
      <mat-tab-group
        mat-stretch-tabs="true"
        [selectedIndex]="selected.value"
        (selectedIndexChange)="selected.setValue($event)"
      >
        <mat-tab *ngIf="isAdmin" label="Felhasználók">
          <app-user-settings></app-user-settings>
        </mat-tab>
        <mat-tab *ngIf="isAdmin" label="Csapatok">
          <app-team-settings></app-team-settings>
        </mat-tab>
        <mat-tab *ngIf="isAdmin || isCoach" label="Posztok">
          <app-post-settings></app-post-settings>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
