/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
.content-wrap {
  position: relative;
  min-height: calc(100% - 188px);
  padding-bottom: 188px;
}

.mat-mdc-snack-bar-container {
  &.success {
    --mdc-snackbar-container-color: #22bb33;
    --mat-mdc-snack-bar-button-color: #fff;
    --mdc-snackbar-supporting-text-color: #fff;
  }
}

.mat-mdc-snack-bar-container {
  &.error {
    --mdc-snackbar-container-color: #bb2124;
    --mat-mdc-snack-bar-button-color: #fff;
    --mdc-snackbar-supporting-text-color: #fff;
  }
}
