.page-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 900px;
  margin: auto;
  gap: 25px;
}

.profile-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 20px;
}

.profile-picture {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 10px;
}

.profile-data {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 20px 10px;
  width: 60%;
  line-height: 30px;
}

.data-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 0px 10px;
}

.title {
  font-size: 32px;
  font-weight: 400;
}

.role {
  font-weight: 400;
  font-size: 24px;
}

.description {
  font-weight: 400;
  font-size: 16px;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0px;
  width: 100%;
}

.button {
  display: flex;
  width: 100px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 16px;
  color: white;
  background: #105f76;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.14), 0px 1px 5px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.divider {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  width: 100%;
}

.line {
  width: 60%;
  border-top: 2px solid rgba(0, 0, 0, 0.12);
}

.teams-title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  width: 100%;
  font-size: 32px;
  font-weight: 400;
}

.teams-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px 20px 30px;
  gap: 10px;
}

.section-header-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
}

.table-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
}

.center {
  text-align: center;
}

.end {
  text-align: end;
}

.table-column {
  width: 33.33%;
}

.detail-row {
  height: 0;
}

tr.element-row:not(.expanded-row):hover {
  background: whitesmoke;
}

tr.element-row:not(.expanded-row):active {
  background: #efefef;
}

.delete-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 16px;
  color: white;
  background: #d41b1b;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.14), 0px 1px 5px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.participant-table {
  max-width: 400px;
}
